{%extends 'blog/base.html'%}
{% block content %}
    <div class="content-section">
	    <h3>About developer</h3>
	    <p class='text-muted'>BIOGRAPHY
	    <ul class="list-group">
                <li class="list-group-item list-group-item-light">Magesajr</li>
                <li class="list-group-item list-group-item-light">Footballer</li>
                <li class="list-group-item list-group-item-light">C.E.O</li>
                <li class="list-group-item list-group-light">RedeemHopeTech@company </li>
              </ul>
            </p>
    </div>   
{% endblock content %}
